.cardStyle{

    height: 40px;
    width: 129px;

    background-color: #000000;
    color: white !important;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    height: 60%;
    transition: transform 0.3s ease;

}

.rowCat{
    height: 20%;
}

.imagemCard{
    height: 50%;
    border-radius: 10%;
}

.cardBody{
    height: 50%;
    background-color: black ;
}

